.row
  .col-sm-12
    .pull-left
      %h3
        Please Sign In, or
        = render 'users/shared/links'
    .pull-right
      .social-login-btn
        = render partial: 'users/shared/social_links'
  .col-sm-12
    = form_for resource, as: resource_name, url: session_path(resource_name),  html: { role: 'form' } do |f|
      .form-group
        = f.label :email
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group
        - if devise_mapping.recoverable? && controller_name != 'passwords' && controller_name != 'registrations'
          = link_to "Forgot your password?", new_password_path(resource_name), class: 'pull-right'
        = f.label :password
        = f.password_field :password, autocomplete: "off", class: 'form-control'
      .form-group.checkbox.pull-right
        %label
          = f.check_box :remember_me
          = f.label :remember_me
      %button.btn.btn.btn-primary{type: 'submit'}
        Log In
