<?xml version="1.0"?>
<Workbook xmlns="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:o="urn:schemas-microsoft-com:office:office"
          xmlns:x="urn:schemas-microsoft-com:office:excel"
          xmlns:ss="urn:schemas-microsoft-com:office:spreadsheet"
          xmlns:html="http://www.w3.org/TR/REC-html40">
  <Worksheet ss:Name="Sheet1">
    <Table>
      <Row>
        <Cell><Data ss:Type="String">Прізвище, ім’я, по батькові</Data></Cell>
        <Cell><Data ss:Type="String">Стать</Data></Cell>
        <Cell><Data ss:Type="String">Повна дата народження</Data></Cell>
        <Cell><Data ss:Type="String">Адреса</Data></Cell>
        <Cell><Data ss:Type="String">Телефон</Data></Cell>
        <Cell><Data ss:Type="String">Пільгові категорії</Data></Cell>
      </Row>
      <% @building_patients.each do |patient| %>
          <% next if Time.zone.try(:parse, patient.date_birth) > Time.zone.try(:parse, "01.01.2001") %>
          <Row>
            <Cell><Data ss:Type="String"><%= patient.full_name %></Data></Cell>
            <Cell><Data ss:Type="String"><%= patient.gender %></Data></Cell>
            <Cell><Data ss:Type="String"><%= patient.date_birth %></Data></Cell>
            <Cell><Data ss:Type="String"><%= "#{@building_full_name} кв.#{patient.appartment_number}" %></Data></Cell>
            <Cell><Data ss:Type="String"><%= patient.phone %></Data></Cell>
            <Cell><Data ss:Type="String"><%= patient.preferential_categories %></Data></Cell>
          </Row>
      <% end %>
    </Table>
  </Worksheet>
</Workbook>