%header
  %nav.navbar.navbar-inverse.navbar-fixed-top{role: 'navigation'}
    .container-fluid
      .navbar-header
        %button.navbar-toggle.collapsed{'data-target' => '#bs-example-navbar-collapse-2', 'data-toggle' => 'collapse', type: 'button'}
          %span.sr-only Toggle navigation
          %span.icon-bar
          %span.icon-bar
          %span.icon-bar
        = link_to 'M.U.S.', root_path, class: 'navbar-brand'
      .collapse.navbar-collapse
        %ul.nav.navbar-nav
          %li{class: controller_name == 'buildings' ? 'active' : ''}
            = link_to buildings_path do
              Building
              %span.sr-only (current)
          %li{class: controller_name == 'patients' ? 'active' : ''}
            = link_to patients_path do
              Patients
          %li{class: controller_name == 'areas' ? 'active' : ''}
            = link_to areas_path do
              All Areas
        %ul.nav.navbar-nav.navbar-right
          - if user_signed_in?
            %li= link_to current_user.email, 'javascript:void();'
            %li= link_to 'LogOut', destroy_user_session_path, method: :delete
          - else
            %li= link_to 'SignUp', new_user_registration_path
            %li= link_to 'SignIn', new_user_session_path
            %li= link_to 'Facebook', user_facebook_omniauth_callback_path
        = render partial: 'layouts/partials/search_weadgets'